.about {
  &_container {
  }

  &_grid {
    padding-top: rem(60px);
  }

  &_left {
    grid-column: span 6;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: rem(20px);
    &_image {
      width: rem(380px);
      height: rem(380px);
      aspect-ratio: 1;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &_right {
    grid-column: span 6;

    &_paragraph {
      line-height: 1.5;
      max-width: rem(624px);
    }
  }
}
