// .preloader {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   transition: opacity 1s ease-in-out;
//   opacity: 1;
//   background-color: var(--bg-background);
//   z-index: 1000;
// }
